.home{
  h1{
    text-align: center;
    margin-bottom: 100px;
  }
  .encryption-section{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    .form{
      box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      margin: 50px;
      h2{
        margin-top: 25px;
        text-align: center;
      }
    }
    .separator{
      margin: auto;
      border: solid 1px grey;
      height: 100%;
    }
  }
}

@media (max-width: 950px) {
  .home{
    .encryption-section{
      grid-template-columns: 1fr;
      .form{
        h2{
          margin-top: 25px;
        }
        margin: 50px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
      }
      .separator{
        border: none;
        height: 0px;
      }
    }
  }
}
